subset/*

*.jpg

*.h5

old-logs/*

*.pyc

Event-datasets/*

context-recognition/logs/*

object-context-recognition/logs/*

object-context-recognition/export/*

event-recognition-web-app/node_modules/*

event-recognition-web-app/dist/*

event-recognition-web-app/package-lock.json