.header {
    height: 10vh;
    text-align: center;
}
.contentBody {
    height: 90vh;
}
.pageContainer {
    height: 100%;
    width: 100%;
    padding: 3% 5%;
}

.form-control {
    // width: 30%;
    // min-width: 300px;
}

.tile {
}

.row {
}